body {
    font-family:Fjord One, serif;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

    .gallery-title:after {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #5e5e5e;
    }

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}

    .filter-button:hover {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        background-color: #42B32F;
    }

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}
.img-responsive {
    width:350px;
    height:350px;

}
.jumbotron {
    display: block;
    padding-bottom: 0px;
    height: 250px;
    margin-top: 50px;
    background-color:white;
} 
.navbar-inverse {
    height:300%;
    margin-top:-30px;

}
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

    .profile-inline ~ .card-title {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
    }

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

    .meta a {
        text-decoration: none;
        color: rgba(0, 0, 0, .4);
    }

        .meta a:hover {
            color: rgba(0, 0, 0, .87);
        }




.modal-body:not(.two-col) {
    padding: 0px;
}

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.modal-body .radio, .modal-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.modal-body .radio label, .modal-body .checkbox label {
    display: block;
}

.modal-footer {
    margin-top: 0px;
}

@media screen and (max-width: 325px) {
    .btn-close {
        margin-top: 5px;
        width: 100%;
    }

    .btn-results {
        margin-top: 5px;
        width: 100%;
    }

    .btn-vote {
        margin-top: 5px;
        width: 100%;
    }
}

.modal-footer .btn + .btn {
    margin-left: 0px;
}

.progress {
    margin-right: 10px;
}



























.navbar {
    border:solid;
    border-width:1px;
    margin-bottom: 0;
    background-color: #ffffff;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

    .navbar li a, .navbar .navbar-brand {
        color: rgba(0, 0, 0, .87) !important;
        font-weight: 900;
        border-width: 0.1px;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1abc9c !important;
    background-color: #fff ;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    font-weight: 900;
}

.navbar-brand-centered {
    position: absolute;

    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
#Navbarsss {
    position: absolute;
    display: block;
    left: 35%;
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
    font-weight: 900;
    font-size:1.3em;
}


hr{
    color:black;
}


.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.7;
    color: #fff;
    background: #000 url("imgr/perfect.png") no-repeat;
    width: 100%;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.jumbotron h2 {
    margin-top: 0;
}

.jumbotron {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .jumbotron .container {
        position: relative;
        z-index: 2;
    }

@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}















