@{
    ViewBag.Title = "Home Page";
}

<h2 id="TitleOverAll" style="font-family:Fjord One, serif;" align="center">Nyheter <hr /></h2>

<!--Home Page-->
<div class="container" id="HomePage">

</div>
<!--End Home Page-->

<!--Gallery Page-->
<div class="container" id="GalleryPage">
    <hr />
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/101.jpg" style="height:250px; border:10px;"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/102.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/103.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/104.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/105.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/108.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/109.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/110.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/111.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/112.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/114.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/115.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/116.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        @*<div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/117.jpg" style="height:250px; border:10px"></div>*@
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/118.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/119.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/120.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/121.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/122.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/123.jpg" style="height:250px; border:10px"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info"><img class="card-img-top" src="~/Content/imgr/124.jpg" style="height:250px; border:10px"></div>
    </div>

</div>
<!--End Gallery Page-->

<!--Meny-->
<div class="container" id="MenyPage">
    <hr />
    <img src="~/Content/imgr/MenyAllt.jpg" />
</div>
<!--End Menybar-->

<!--Add News Page-->
<div class="container" id="addnewspage">
    <hr />
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="postTitle" aria-describedby="title" placeholder="Title...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Text</label>
            <textarea class="form-control" id="postText" rows="5"></textarea>
        </div>
        <button class="btn btn-success" id="ad-news">Skapa nyhet</button>
        <input type="reset" class="btn btn-danger" value="Ångra" />
    </form>
   


</div>
<!--End Add News Page-->

<!--Contact Page-->
<div class="container">
    <hr />
    <div class="row">
        <br /><br /><br />
        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Any questions? Feel free to contact us.</h4>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                        <div class="modal-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="firstname" placeholder="Namn" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="email" placeholder="Mail" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="subject" placeholder="Ämne" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea style="resize:vertical;" class="form-control" placeholder="Meddelande..." rows="6" name="comment" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" class="btn btn-success" value="Skicka" />
                            <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Töm" />
                            <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Contact Page-->
