@{
    ViewBag.Title = "Home Page";
}

<!--Home Page-->
<div class="container" id="HomePage">
    <div class="row">
        <div class="col-md-4">
            <h2>Välkommen</h2>

        </div>
    </div>
</div>


<!--Gallery Page-->
<h2>Gallery Page</h2>
<hr />
  <div class="row" id="GalleryPage">

      </div>


<!--Contact Page-->
<div class="container" id="ContactPage">
    <div class="row">
        <div class="col-md-4">
            <h2>ContactPage</h2>
        </div>
    </div>
</div>

